@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', "sans-serif";
	color: #EAEAEA;
}


html {
	scroll-behavior: smooth;
	background-image: url("img/background.jpg");
}
main {
	margin: 0;
}
h1 {
	font-size: 36px;
	font-weight: 700;
	/*"Inicia sesion"*/
}
h2 {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	/*titulos de fecha, formato, candy, etc*/
}
h3 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	/*botones*/
}
h4 {
	font-size: 14px;
	font-weight: 700;
	/*footer*/
}
p {
	font-size: 16px;
	font-weight: 400;
}
/*-------------------------------HEADER-------------------------------*/
header {
	width: 100%;
	background-color: #130D31;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

#menu-hamburguesa {
	display: none;
}

header label {
	display: none;
	padding: 10px;
}

header div img {
	margin-left: 84px;
}

.menu ul {
	list-style: none;
	text-align: center;
	display: flex;
	margin: 0;
	padding: 0;
}
.menu ul li {
	display: inline;
}
.menu a {
	display: block;
	text-decoration: none;
	color: #EAEAEA;
	font-weight: 700;
	padding: 10px 50px;
	border: 1px transparent;
	font-size: 14px;
	text-transform: uppercase;
}

.icono-usuario {
	margin-right: 76px;
}
/*------------------------------*/


.boton-splash {
	background-image:url("img/splash-background.jpg");
	background-attachment: fixed;
	/*no entiendo por que no cubre todo el html ajajaj*/
}
/*-------------------------------FORM-------------------------------*/
.form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 450px;
	padding: 100px;
	margin: auto;
	font-family: "Montserrat";
	font-weight: 300;
	color: white;
}
.form a {
	color: #EAEAEA;
	font-weight: 500;
	text-decoration: none;
}
.form a:hover {
	color: #F88312;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}
.form p {
	color: #EAEAEA;
	font-weight: 500;
	font-size: 16px;
	margin-top: 80px;
}
.form .botones {
	color: #EAEAEA;
	width: 335px;
	background: #F88312;
	border: none;
	padding: 12px;
	margin: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: 700;
	border-radius: 30px;
}
.form .botones:hover{
	background: #EAEAEA;
	color: #F88312;
}
.controls {
	width: 70%;
	background: #EAEAEA;
	padding: 10px;
	margin: 14px;
	border-radius: 10px;
	border: 0;
	font-family: "Montserrat";
	font-size: 18px;
	outline: none;
}
/*-------------------------------HOME-------------------------------*/
.buscador-lupa {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 70px 0px 30px 96px;
}
.lupa {
	background-color: rgba(255, 255, 255, 0.30);
	width: 40px;
	height:35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px 0px 0px 30px;
}
.buscador {
	width: 420px;
	height: 35px;
	outline: none;
	border-radius: 0px 30px 30px 0px;
	background-color: rgba(255, 255, 255, 0.30);
	border: none;
	font-family: "Montserrat";
	color: #EAEAEA;
	padding: 8px;
}
/*-------------------------------FOOTER-------------------------------*/
.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #0E0926;
	justify-content: space-evenly;
}
.footer p {
	font-size: 13px;
	line-height : 25px;
}
.logo_redes {
	margin: 40px;
}
.logo_redes img {
	margin: 6px 0;
}
.iconos-redes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}
.contactenos-footer {
	margin: 40px;
}
.contactenos-footer h3 {
	margin-bottom: 6px;
}
.contactenos-footer h4 {
	width: 240px;
	margin-bottom: 6px;
}
.contactenos-footer img {
	margin-top: 13px;
}
.datafiscal {
	margin: 40px;
}
.datafiscal img {
	margin-bottom: 6px;
}
.bot-foo img {
	margin: 16px;
}
.bot-foo {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-top: 20px;
}
/*---------------------------PELICULAS-------------------------*/


/*--------------------CARRUSEL INICIO------------------*/

.slide {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.slide ul {
	display: flex;
	align-content: center;
	padding: 0;
	
	animation: carrusel 20s infinite alternate;
	animation-timing-function: ease;
}
.slide li {
	width: 100%;
	list-style: none;
}
.slide img {
	/*background-color: #EAEAEA;*/
	margin: 10px 22px 30px 94px;
	border-radius: 20px;
	}

@keyframes carrusel {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*--------------------CARRUSEL FIN------------------*/



.estrenos {
	/*border: 1px solid white; /*Para identificar las dimensiones del contenedor luego se debe eliminar*/
	height: 330px;
	width: 1200px;
	margin-left: 96px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 60px;
}
.estrenos img{
	background-color: #EAEAEA;
	height: 280px;
	width: 180px;
	border-radius: 20px;
	margin: 10px 20px 10px 0px;
}
.catalogo {
	/*border: 1px solid white;*/
	height: 630px;
	width: 1200px;
	margin-left: 96px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
}
.catalogo img {
	background-color: #EAEAEA;
	height: 280px;
	width: 180px;
	border-radius: 20px;
	margin: 10px 20px 10px 0px;
}

.titular {
	margin-left: 96px;
}


/*-----------------------------COMPRA-----------------------------*/

input, select {
	color:#000000;
}
.compra {
	overflow-x: scroll;
}
.procesocompra {
	background-color: rgba(234,234,234,0.00);
	width: 750px;
	height: auto;
	margin-left: 550px;
	margin-top: 100px;
	margin-bottom: 200px;
}
.procesocompra h2 {
	margin-bottom: 30px;
}
.fondoc {
	background-color: rgba(234,234,234,0.20);
	border-radius: 20px;
}

.dispodia {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	}
.dispodia h3 {
	font-weight: 400;
}
.formatos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 260px;
	align-items: center;
	margin-top: 30px;
}
.formatt {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	border: 2px solid #EAEAEA;
	margin: 10px;
	padding: 2px;
	width: 260px;
	height: 100px;
	box-sizing: border-box;
}
.formatt div {
	height: 66px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.formatt h3 {font-weight: 400;}

.complejo {
	background-color: #f88312;
	border-radius: 8px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
	box-sizing: border-box;
}
.complex {
	display: flex;
	margin: 30px 0 30px 38px;
}
.complex div {
	margin: 20px 0 35px 20px;
}
.complex img {
	border-radius: 15px;
}
.horas {
	margin: 15px 0px;
	width: 350px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}
.horas h3 {
	font-weight: 400;
	border: 2px solid #EAEAEA;
	border-radius: 10px;
	width: 103px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.otrocomple {
	border: 3px solid #EAEAEA;
	border-radius: 8px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	margin-top: 10px;
	box-sizing: border-box;
}

.carrecard {
	display: flex;
	overflow-y: auto;	/*le agrega la función de scroll horizontal*/
}
.entrada {
	height: 350px;
	border: 2px solid #EAEAEA;
	border-radius: 20px;
	background-color: rgba(234,234,234,0.20);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px 0 15px;
	padding-bottom: 10px;
}
.entrada img {
	border-radius: 20px 20px 0 0;
	margin-bottom: 10px;
}
.infobuy{
	width: 170px;
	height: 100px;
	text-align: center;
}
.precio {
	font-weight: 700;
}
.entrada div {
	display: flex;
	margin: 0 10px;

}
.add {
	height: 24px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ttl {
	background-color: #FFFFFF;
	width: 80px;
	color: #000000;
	border: 2px solid #0E0926;
	box-sizing: border-box;
	
}
.clc {
	background-color: #0E0926;
	width: 35px;
	margin: 0 15px;
}

h5 {
	width: 29px;
	height: 29px;
	background-color: #EAEAEA;
	border-radius: 30px;
	margin: 3px;
}
.intocine img {
	padding-left: 20px;
}
.secbut {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.abc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 339px;
	margin-bottom: 58px;
}
.butacas {
	display: flex;
	justify-content: space-between;
	width: 730px;
}
.izq {
	width: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
}
.cen {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.censup {
	width: 380px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ceninf {
	width: 524px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.der {
	width: 105px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
}
.num {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
.num h4 {
	width: 12px;
}
.referencia {
	display: flex;
	justify-content: space-around;
}
.referencia h4 {
	margin-left: 5px;
	text-transform: uppercase;
}
.referencia div {
	display: flex;
	align-items: center;
	margin: 10px 5px 0px;
}

.formulario {
	width: 616px;
}
.formulario p {
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 22px;
}
.entradatos {
	width: 100%;
	height: 39px;
	border-radius: 10px;
	margin: 8px 0 0;
	padding: 2px 0 0 12px;
	font-size: 18px;
	box-sizing: border-box;
	outline: none;
	border: none;
}
.dobledata {
	display: flex;
	justify-content: space-between;
}
.datoss {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fechatarjeta div {
	display: flex;
	justify-content: space-between;
}
.fechatarjeta input {
	width: 46%;
}
.terminosycondiciones {
	margin-top: 24px;
	display: flex;
	margin-bottom: 24px;
}
.terminosycondiciones p {
	margin: 16px 0px 0 10px;
	text-transform: none;
	font-weight: 400;
}
.terminosycondiciones a {
	font-weight: 700;
}
.condiciones {
	margin: 16px 0 0 0 ;
	width: 18px;
	height: 18px;
}

.botones { 	/*Hace falta unificar la clase de botones para que sea uno solo*/
	color: #EAEAEA;
	width: 335px;
	background: #F88312;
	border: none;
	padding: 12px;
	margin: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: 700;
	border-radius: 30px;
}
.scroll {
	position: absolute;
	width: 480px;
	height: 3970px;
}
.fijo {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 60px;
}
.ticket {
	background-image: url("img/tick_moovie2.png");
	background-repeat: no-repeat;
	background-size: contain;
	nackground-color: #0E0926;
	border: 6px solid #D9D9D9;
	width: 280px;
	height: 450px;
	border-radius: 20px;
	padding: 10px 50px 10px 24px;
	background-color: linear-gradient( rgba (255,255,255,0)rgba (0,0,0,1) )
}

.ticket h3 {
	margin-top: 220px;
}

.sepa {
	margin-top: 16px;
	
}
.total {
	margin-top: 24px;
	font-weight: 800;
	
}
.volver {
	height: 70px;
	width: 67px;
	border-radius: 0 20px 20px 0;
	background-color: #0E0926;
	margin-right: 15px;
}
.volver img {
	margin: 17px;
}


/*-------------------------------------------RESPONSIVE----------------------------------*/

@media screen and (max-width:360px){
	/*falta agregar el background*/

	main {
		margin: 0;
		padding: 0;
	}
	html {
		background-image: url("img/background-celu.jpg");
		width: 100%;
		height: 100%;
	}

	h1 {
		font-size: 25px;
		margin-bottom: 10px;
		/*"Inicia sesion"*/
	}

	h2 {
		font-size: 16px;
		/*titulos de fecha, formato, candy, etc*/
	}

	h3 {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		/*botones*/
	}
	/*----------------inicio de sesión----------------*/
	.form {
		width: 100%;
		padding: 0;
		margin-top: 100px;
	}

	.form a:hover {
		color: #F88312;
		font-weight: 500;
		font-size: 16px;
		text-decoration: none;
	}
	.form p {
		color: #EAEAEA;
		font-weight: 500;
		font-size: 16px;
		margin-top: 100px;
	}

	.form .botones {
		width: 240px;
		font-size: 15px;
	}
	.form .botones:hover{
		background: #EAEAEA;
		color: #F88312;
	}
	
/*-------------------------------HEADER-------------------------------*/
	header {
	width: 100%;
	background-color: #130D31;
	display: block;
}

	header label {
		display: block;
	}

	header div img {
		display: none;
	}
	
	.menu {
		position: absolute;
		background-color: #130D31;
		width: 50%;
		margin-left: -50%;
		transition: all 0.5s;
	}
	
	.menu ul {
		flex-direction: column;
	}
	
	.menu li {
		border-top: 1px solid #EAEAEA;
	}
	
	#menu-hamburguesa:checked ~ .menu {
		margin: 0;
	}
	
	.menu a {
		padding: 10px 15px;
		text-align: start;
	}

	.icono-usuario {
		display: none;
	}
/*------------------------------*/

	/*--------------------CARRUSEL INICIO------------------*/
	.slide {
		width: 100%;
	}
	.slide img {
		margin: 30px 7px 30px 5px;
		width: 348px;
		height: auto;
		}
/*--------------------CARRUSEL FIN------------------*/

	
/*---------------------------PELICULAS-------------------------*/

.buscador-lupa {
	display: none;
	justify-content: flex-start;
	align-items: center;
	margin: 70px 10px 30px 10px;
}

.titular {
	margin-left: 24px;
	margin-bottom: 10px;
}
.estrenos {
	/*border: 1px solid white; /*Para identificar las dimensiones del contenedor luego se debe eliminar*/
	height: 820px;
	width: 97%;
	margin-left: 5px;
	justify-content:space-evenly;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}
.estrenos img{
	height: 235px;
	width: auto;
	margin: 0px;
	border-radius: 5px;
}
.catalogo {
	/*border: 1px solid white;*/
	height: 1610px;
	width: 345px;
	margin-left: 5px;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
	margin-bottom: 10px;
}
.catalogo img {
	height: 235px;
	width: auto;
	margin: 0px;
	border-radius: 5px;
}
.bot-foo img {
	margin: 0px 40px;
	padding: 10px 0px;
}
.iconos-redes img {
	width: 55px;
	height: 55px;
}
.logo_redes img {
	margin: 6px 5px 6px 0px;

}
/*--------------------FOOTER------------------------*/
.footer {
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	}

.contactenos-footer h4 {
	display:none;
}
.contactenos-footer h3 {
		display: none;
	}
.contacto {
		display:none;
	}
	
.bot-foo {
    padding-top: 0px;
	}

.logo_redes {
    margin: 40px 40px 0px 40px;
}

.contactenos-footer {
    margin: 0px 40px;
}

.bot-foo img {
    margin: 0px 40px;
    padding: 10px 0px;
}

.iconos-redes img {
	width: 55px;
	height: 55px;
	}
	
.logo_redes img {
    margin: 6px 5px 6px 0px;
}

}
