@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}

body {
	background-image: url("img/splash-background.jpg")
}

.boton-splash {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding: 7%;
	margin-top:20px;
}

