@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	background-image: url("img/background.jpg");
}

h1 {
	font-size: 36px;
	font-weight: 700;
	font-family: "Montserrat";
	color: #EAEAEA;
	/*"Inicia sesion"*/
}

h2 {
	font-size: 28px;
	font-weight: 800;
	font-family: "Montserrat";
	color: #EAEAEA;
	text-transform: uppercase;
	/*titulos de fecha, formato, candy, etc*/
}

h3 {
	font-size: 18px;
	font-weight: 700;
	font-family: "Montserrat";
	color: #EAEAEA;
	text-transform: uppercase;
	/*botones*/
}

h4 {
	font-size: 14px;
	font-weight: 700;
	font-family: "Montserrat";
	color: #EAEAEA;
	/*footer*/
}

p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat";
	color: #EAEAEA;
}

/*-------------------------------HEADER-------------------------------*/
header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	background-color: #130D31;
}

header img {
	margin-left: 84px;
}

.icono-usuario {
	margin-right: 76px;
}

nav ul {
	list-style: none;
	text-align: center;
	display: flex;
}

nav ul li {
	display: inline;
}

nav a {
	text-decoration: none;
	color: #EAEAEA;
	font-weight: 700;
	padding: 10px 50px;
	border: 1px transparent;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
}

/*-------------------------------FORM-------------------------------*/

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 500px;
	padding: 100px;
	margin: auto;
	font-family: "Montserrat";
	font-weight: 300;
	color: white;
}

.form a {
	color: #EAEAEA;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

.form p {
	color: #EAEAEA;
	font-weight: 500;
	font-size: 21px;
}

.form .botones {
	color: #EAEAEA;
	width: 73%;
	background: #F88312;
	border: #FF6E00;
	padding: 15px;
	margin: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 30px;
	/*falta agregarle un margin bottom al boton de ingresar*/

}

.controls {
	width: 70%;
	background: #eaeaea;
	padding: 10px;
	margin: 14px;
	border-radius: 10px;
	border: 0;
	font-family: "Montserrat";
	font-size: 18px;

}
/*-------------------------------FOOTER-------------------------------*/

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #0E0926;
	justify-content: space-evenly;
}

.footer p {
	font-size: 13px;
	line-height : 25px;
}

.logo_redes {
	margin: 40px;
}

.logo_redes img {
	margin: 6px 0;
}

.iconos-redes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}

.contactenos-footer {
	margin: 40px;
}

.contactenos-footer h3 {
	margin-bottom: 6px;
}

.contactenos-footer h4 {
	width: 240px;
	margin-bottom: 6px;
}
.contactenos-footer img {
	margin-top: 13px;
}
.datafiscal {
	margin: 40px;
}

.datafiscal img {
	margin-bottom: 6px;
}

.bot-foo img {
	margin: 16px;
}

.bot-foo {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-top: 20px;
}

@font-face {
	font-family:"Montserrat";
	src: url("fuentes/Montserrat-Regular.ttf") format "truetype";
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: "Montserrat";
	src: url("fuentes/Montserrat-Medium.ttf") format "truetype";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src:url("fuentes/Montserrat-Bold.ttf")format "truetype";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("fuentes/Montserrat-ExtraBold.ttf")format "truetype";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("fuentes/Montserrat-SemiBold.ttf")"truetype";
	font-weight: normal;
	font-style: normal;
}